.site-form {
  margin: 0 auto;
  width: 100%;
  padding-top: 60px;

  fieldset {
    text-align: center;
    padding: 30px;
    border-style: none;
    display: flex;

    .fieldset-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      input {
        display: flex;
        width: calc(95% / 2);
        margin-bottom: 60px;
        border-style: none;
        border-bottom: 1px solid $yellow;
        padding-bottom: 30px;
      }
    }

    input,
    textarea {
      color: $white;


      &::placeholder {
        color: $white;
        opacity: 1;
      }
        
      }
    }
  }



.site-form textarea {
  width: 100%;
  border: 1px solid $yellow;
  margin-bottom: 60px;
}

.site-form button {
  width: 100%;
  margin-bottom: 30px;
}

.contact-form {
  box-shadow: 15px 15px 0 $yellow;
  background-color: $almostBlack;
  position: relative;
  bottom: 220px;

  fieldset {
    input,
    textarea {
      background-color: $almostBlack;
      &:focus{
          background-color: lighten($almostBlack, 10);
        }
    }
  }
}

.blog-form {
  width: 100%;
  background-color: $pine;
  fieldset {
    padding: 0;
    input {
      background-color: $pine;
      width: calc(100% / 2);
    }
    textarea {
      background-color: $pine;
      width: 100%;
    }
    input, textarea{
      &:focus{
          background-color: lighten($pine, 10);
        }
    }
    button {
      width: 100%;
      margin-bottom: 60px;
    }
  }
}
