@import "mixins";
nav {
  
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: 600;
}

  ul {
    padding: 0;

    li {
      list-style: none;
      // display: inline-block;
    }
  }

@include mq-big-phone{
  ul{
    position: absolute;
  }
}