article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
button {
  text-transform: uppercase;
}

h1 {
  font-size: 6.9rem;
  font-weight: 600;
}

h2 {
  font-size: 4.5rem;
  margin: 0 auto;
}

h3 {
  font-size: 4rem;
  line-height: 58px;
  letter-spacing: 1.3px;
}

h4 {
  font-size: 2.5rem;
  line-height: 58px;
  letter-spacing: 0.8px;
}

button {
  font-size: 2.24rem;
  text-align: center;
  line-height: 41.6px;
  padding-top: 10px;
}

p,
input,
label,
textarea,
a,
li {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
  line-height: 28px;
  letter-spacing: 1px;
}

nav ul {
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

nav ul li {
  list-style: none;
}

.black-button {
  background-color: #0f0f0f;
  color: #ffffff;
  border: none;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.black-button:hover {
  border: dashed 2px #ffd300;
}

.yellow-button {
  background-color: #ffd300;
  border: none;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.yellow-button:hover {
  border: dashed 2px #0f0f0f;
}

@media (max-width: 800px) {
  h1 {
    font-size: 4.5rem;
    margin: 0 auto;
    display: block;
    text-shadow: 1px 1px #171B0E;
  }
}

@media (max-width: 980px) {
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}

nav {
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: 600;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.site-form {
  margin: 0 auto;
  width: 100%;
  padding-top: 60px;
}

.site-form fieldset {
  text-align: center;
  padding: 30px;
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-form fieldset .fieldset-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-form fieldset .fieldset-wrapper input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(95% / 2);
  margin-bottom: 60px;
  border-style: none;
  border-bottom: 2px solid #FFD300;
  padding-bottom: 30px;
  padding-left: 20px;
}

.site-form fieldset input,
.site-form fieldset textarea {
  color: #FFFFFF;
}

.site-form fieldset input::-webkit-input-placeholder,
.site-form fieldset textarea::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.site-form fieldset input:-ms-input-placeholder,
.site-form fieldset textarea:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.site-form fieldset input::-ms-input-placeholder,
.site-form fieldset textarea::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.site-form fieldset input::placeholder,
.site-form fieldset textarea::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.site-form textarea {
  width: 100%;
  border: 2px solid #FFD300;
  margin-bottom: 60px;
  padding: 20px 0 0 20px;
}

.site-form button {
  width: 100%;
  margin-bottom: 30px;
}

.contact-form {
  -webkit-box-shadow: 15px 15px 0 #FFD300;
          box-shadow: 15px 15px 0 #FFD300;
  padding: 60px 30px 0 30px;
  background-color: #171B0E;
  position: relative;
  bottom: 220px;
}

.contact-form fieldset input,
.contact-form fieldset textarea {
  background-color: #171B0E;
}

.contact-form fieldset input:focus,
.contact-form fieldset textarea:focus {
  background-color: #343d1f;
}

@media (max-width: 980px) {
  .contact-form {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #FFD300;
    padding: 0;
    bottom: 50px;
  }
  .site-form fieldset .fieldset-wrapper input {
    width: 100%;
  }
}

.blog-form {
  width: 100%;
  background-color: #2B331B;
}

.blog-form fieldset {
  padding: 0;
}

.blog-form fieldset input {
  background-color: #2B331B;
  width: calc(100% / 2);
}

.blog-form fieldset textarea {
  background-color: #2B331B;
  width: 100%;
}

.blog-form fieldset input:focus,
.blog-form fieldset textarea:focus {
  background-color: #47542d;
}

.blog-form fieldset button {
  width: 100%;
  margin-bottom: 60px;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

img {
  max-width: 100%;
}

/* Font and Default Stylings */
.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

/* Header Styling */
header {
  background-image: url(../images/home-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: #FFFFFF;
  position: relative;
}

header ul {
  padding-top: 70px;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  padding-right: 30px;
}

header ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

header ul li a:hover {
  border-bottom: solid 3px #FFD300;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

header h1 {
  display: inline-block;
}

header span {
  background-color: #FFFFFF;
  color: #171B0E;
  display: block;
  padding-top: 15px;
  margin-bottom: 15px;
}

header .header-img {
  position: absolute;
  width: 50%;
  right: 0;
  top: 190px;
}

header .header-img img {
  height: 100%;
  width: 100%;
}

.mobile-nav,
input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

@media (max-width: 800px) {
  .header-img {
    right: 0;
  }
}

@media (max-width: 630px) {
  .header-img {
    visibility: hidden;
  }
  header .desktop-nav {
    visibility: hidden;
    display: none;
  }
  header .mobile-nav {
    visibility: visible;
    display: block;
    padding-top: 20px;
    position: relative;
    left: -20px;
  }
  header .mobile-nav label {
    padding: 20px 0 0 20px;
  }
  header .mobile-nav .menu-toggle {
    position: absolute;
    left: -500px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  header .mobile-nav ul {
    background-color: #FFD300;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80vw;
    height: 30vh;
    padding-top: 20px;
    padding-left: 20px;
    color: #171B0E;
  }
  header .mobile-nav ul li {
    padding-top: 20px;
  }
  header .mobile-nav ul li a {
    color: #171B0E;
  }
  header .mobile-nav ul li a:hover {
    border-bottom: 2px solid #171B0E;
  }
  header .mobile-nav input:checked + .menu-toggle {
    left: 0;
  }
  h1 {
    text-align: center;
    width: 100%;
    margin-top: 100px;
  }
}

.info {
  background-color: #2B331B;
  color: #FFFFFF;
  padding-top: 210px;
  padding-bottom: 150px;
}

.info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.info .info-section {
  padding: 20px;
}

.info .info-section p {
  margin: 0 auto;
}

.icon-contain {
  height: 70px;
  width: 70px;
  background-color: #FFD300;
  border-radius: 50px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.icon-contain i {
  padding-top: 15px;
  color: #2B331B;
}

@media (max-width: 980px) {
  .info {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .info .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .wrapper .info-content {
    width: 100%;
    text-align: center;
  }
  .info .wrapper .info-content h2 {
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .info-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  .info-content .icon-contain {
    margin: 0 auto;
  }
}

.food {
  background-color: #171B0E;
  position: relative;
  color: #FFFFFF;
  margin: 0 auto;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 980px) {
  .food {
    padding-bottom: 50px;
  }
}

.wider-wrapper {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 980px) {
  .wider-wrapper {
    max-width: 1240px;
    width: 90%;
  }
}

.burger-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-content {
  width: 50%;
  margin-right: 90px;
  padding-left: 90px;
}

.burger-img {
  position: relative;
  top: -80px;
}

.burger-img img {
  -webkit-box-shadow: 15px 15px 0 #FFD300;
          box-shadow: 15px 15px 0 #FFD300;
  display: block;
}

@media (max-width: 980px) {
  .burger-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
  }
  .burger-box .burger-content {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .burger-box .food-img {
    position: static;
  }
  .burger-box .food-img img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #FFD300;
    margin: 0 auto;
    width: 100%;
  }
}

.new-food-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new-food-content {
  width: 50%;
  padding-left: 65px;
  margin-right: 160px;
  text-align: right;
}

.new-food-img {
  position: relative;
  bottom: -30px;
}

.new-food-img img {
  -webkit-box-shadow: -15px 15px 0 #FFD300;
          box-shadow: -15px 15px 0 #FFD300;
  display: block;
}

@media (max-width: 980px) {
  .new-food-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new-food-box .new-food-content {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .new-food-box .new-food-img {
    position: static;
  }
  .new-food-box .new-food-img img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #FFD300;
    margin: 0 auto;
    width: 100%;
  }
}

.winning {
  background-color: #2B331B;
  padding: 100px 0;
  text-align: center;
}

.winning h2 {
  color: #FFD300;
}

.winning p {
  color: #FFFFFF;
}

@media (max-width: 980px) {
  .winning {
    padding: 50px 0;
  }
}

.mid-banner {
  padding: 0;
  margin: 0;
}

.mid-banner img {
  display: block;
}

.mid-banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.nature {
  background-color: #2B331B;
  margin: 0 auto;
  padding: 50px 0;
  color: #FFFFFF;
}

.nature .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nature .wrapper .nature-img img {
  display: block;
  -webkit-box-shadow: -10px 10px 0 #FFD300;
          box-shadow: -10px 10px 0 #FFD300;
}

.nature .wrapper .nature-content {
  width: 70%;
}

.nature .wrapper .nature-content h3 {
  color: #FFD300;
}

@media (max-width: 980px) {
  .nature {
    text-align: center;
    margin: 0 auto;
  }
  .nature .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nature .wrapper .nature-content {
    width: 100%;
  }
  .nature .wrapper .nature-img img {
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #FFD300;
  }
}

.gallery {
  background-color: #171B0E;
  padding: 40px 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery ul li {
  margin-right: 35px;
}

.gallery ul li:nth-child(3) {
  margin-right: 0;
}

.gallery ul img {
  display: block;
}

@media (max-width: 630px) {
  .gallery ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery ul li {
    margin-right: 0;
    width: 45%;
  }
  .gallery ul li:nth-child(3) {
    padding-top: 35px;
    width: 100%;
  }
  .gallery ul li:nth-child(3) img {
    width: 100%;
  }
}

footer {
  color: #FFFFFF;
  background-color: #0F0F0F;
  padding: 10px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

#contact header {
  background-image: url(../images/contact-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: #FFFFFF;
  position: relative;
}

#contact header h1 {
  padding-top: 50px;
}

.contact-main {
  background-color: #2B331B;
  padding-top: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  color: #FFFFFF;
  width: 40%;
  margin-right: 60px;
  text-align: left;
}

.contact-info a {
  text-decoration: none;
  color: #FFFFFF;
}

.contact-info .contact-info-top i {
  color: #FFD300;
  padding: 20px 10px 0 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.contact-info .contact-info-top i:hover {
  color: green;
}

.contact-info .contact-info-bottom {
  padding-top: 5px;
}

@media (max-width: 980px) {
  .contact-main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact-main .wrapper .contact-info {
    width: 100%;
    text-align: center;
  }
}

#blog header {
  background-image: url(../images/blog-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: #FFFFFF;
}

#blog header h1 {
  padding-top: 50px;
}

#blog main {
  background-color: #2B331B;
  padding-bottom: 60px;
}

.blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.blog-wrapper .employment {
  -webkit-box-shadow: inset 2px -2px 0px 0px #FFD300;
          box-shadow: inset 2px -2px 0px 0px #FFD300;
  border-right: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-wrapper .employment .employment-content {
  padding: 0 60px;
  padding-bottom: 60px;
}

.blog-wrapper .employment .employment-content h2 {
  color: #FFD300;
}

.blog-wrapper .employment .employment-content p {
  color: #FFFFFF;
}

.blog-wrapper .employment .employment-content .date {
  font-weight: 600;
}

.blog-wrapper .employment .employment-img {
  position: relative;
  top: -150px;
  right: -15px;
  width: 98%;
}

.blog-wrapper .employment .employment-img img {
  -webkit-box-shadow: -15px 15px 0 #FFD300;
          box-shadow: -15px 15px 0 #FFD300;
  display: block;
}

.side-post {
  position: relative;
  top: 100px;
  width: 35%;
}

.side-post .side-content {
  background-color: #171B0E;
  position: relative;
  left: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding: 450px 30px 30px 30px;
}

.side-post .side-content h4 {
  color: #FFD300;
  margin: 0;
  line-height: 20px;
}

.side-post .side-content p {
  color: #FFFFFF;
}

.side-post .side-content ul {
  color: #FFFFFF;
  list-style-type: disc;
  padding-left: 20px;
}

.side-post .side-content ul li {
  line-height: 1.5;
}

.side-img {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
  width: 90%;
}

.right-wrapper {
  width: 60%;
}

.comments {
  margin: 0 60px;
}

.comments h3,
.comments p {
  color: #FFFFFF;
}

.comments img {
  display: block;
}

.comments .comment-date {
  color: #FFD300;
  font-weight: 600;
}

@media (max-width: 980px) {
  .blog-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
  }
  .blog-wrapper .side-post {
    width: 100%;
  }
  .blog-wrapper .side-post .side-content {
    left: auto;
    margin-top: 40px;
    width: 100%;
  }
  .blog-wrapper .side-post .side-content h4 {
    line-height: 50px;
  }
  .blog-wrapper .side-post .wrapper .side-img {
    left: auto;
  }
  .blog-wrapper .side-post .wrapper .side-img img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .blog-wrapper .right-wrapper {
    width: 100%;
  }
  .blog-wrapper .right-wrapper .employment {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blog-wrapper .right-wrapper .employment .employment-img {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
    right: auto;
  }
  .blog-wrapper .right-wrapper .employment .employment-img img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 10px solid #FFD300;
  }
  .blog-wrapper .right-wrapper .employment .employment-content {
    width: 100%;
    padding: 0;
  }
  .blog-wrapper .right-wrapper .employment .employment-content h2,
  .blog-wrapper .right-wrapper .employment .employment-content .date {
    text-align: center;
  }
  .blog-wrapper .comments {
    width: 100%;
    margin: 0;
  }
  .blog-wrapper .comments .comments-content .comment-two {
    padding-top: 40px;
  }
}

@media (max-width: 630px) {
  .side-post .side-content {
    padding: 350px 30px 200px 30px;
  }
}
/*# sourceMappingURL=styles.css.map */