@import "partials/setup";
@import "partials/font-styles";
@import "partials/colors.scss";
@import "partials/forms";
@import "partials/mixins";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

/* Font and Default Stylings */
.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

// Home Page styliing

/* Header Styling */
header {
  background-image: url(../images/home-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: $white;
  position: relative;
}

header span {
  background-color: $white;
  color: $almostBlack;
  display: block;
  padding-top: 15px;
  margin-bottom: 15px;
}

header h1 {
  display: inline-block;
}

header ul {
  padding-top: 70px;
  display: inline-block;
  display: flex;
  li {
    padding-right: 30px;
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        border-bottom: solid 3px $yellow;
        transition: 0.3s ease-out;
      }
    }
  }
}

.header-img {
  position: absolute;
  width: 50%;
  right: 0;
  top: 190px;


  img {
    height: 100%;
    width: 100%;
  }
}

// Info Styling

.info {
  background-color: $pine;
  color: $white;
  padding-top: 210px;
  padding-bottom: 150px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .content {
    display: flex;
    width: 50%;
  }
  .info-section {
    padding: 20px;
    p {
      margin: 0 auto;
    }
  }
}

.icon-contain {
  height: 70px;
  width: 70px;
  background-color: $yellow;
  border-radius: 50px;
  text-align: center;
  flex-shrink: 0;
  i {
    padding-top: 15px;
    color: $pine;
  }
}

// Food styling
.food {
  background-color: $almostBlack;
  position: relative;
  color: $white;
  margin: 0 auto;
  padding-top: 50px;
  // padding-bottom: 300px;
  display: flex;
  flex-wrap: wrap;
}

.wider-wrapper {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

// Burger section
.burger-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.burger-content {
  width: 40%;
  margin-right: 90px;
}
.burger-img {
  position: relative;
  top: -80px;
  left: -100px;

  img {
    box-shadow: 15px 15px 0 $yellow;
    display: block;
  }
}

// New Food section
.new-food {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  // flex-direction: row-reverse;

  .new-food-content {
    width: 40%;
    padding-left: 90px;
    text-align: right;
  }
  .new-food-img {
    position: relative;
    bottom: -30px;

    img {
      box-shadow: -15px 15px 0 $yellow;
      display: block;
    }
  }
}

// Winning styling

.winning {
  background-color: $pine;
  padding: 100px 0;
  text-align: center;

  h2 {
    color: $yellow;
  }
  p {
    color: $white;
  }
}

.mid-banner {
  padding: 0;
  margin: 0;
  img {
    display: block;
  }
}

.mid-banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.nature {
  background-color: $pine;
  margin: 0 auto;
  padding: 50px 0;
  color: $white;
  margin-top: 35px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .nature-img {
      img {
        display: block;
        box-shadow: -10px 10px 0 $yellow;
      }
    }
    .nature-content {
      width: 70%;
      h3 {
        color: $yellow;
        line-height: 0;
      }
    }
  }
}

// Gallery styling

.gallery {
  background-color: $almostBlack;
  padding: 40px 0;
  ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    img {
      display: block;
    }
  }
}

// Footer styling
footer {
  color: $white;
  background-color: $black;
  padding: 10px 0;
  text-align: center;
  p {
    margin: 0;
  }
}

// Contact Page Styling

// Header styling
#contact header {
  background-image: url(../images/contact-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: $white;
  position: relative;

  h1 {
    padding-top: 50px;
  }
}

.contact-main {
  background-color: $pine;
  padding-top: 80px;
  position: relative;
  display: flex;
  .wrapper {
    display: flex;
  }

  .contact-info {
    color: $white;
    width: 35%;
    margin-right: 60px;
    text-align: left;
    a {
      text-decoration: none;
      color: $white;
    }
    .contact-info-top {
      i {
        color: $yellow;
        padding: 20px 10px 0 0;
      }
    }
    .contact-info-bottom {
      padding-top: 5px;
      p {
        line-height: 0.5;
      }
    }
  }
}

// Blog Styling

#blog header {
  background-image: url(../images/blog-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: $white;

  h1 {
    padding-top: 50px;
  }
}

#blog main {
  background-color: $pine;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  .employment {
    box-shadow: inset 2px -2px 0px 0px $yellow;
    border-right: none;
    position: relative;
    display: flex;
    flex-direction: column;

    .employment-content {
      padding: 0 60px;
      padding-bottom: 60px;

      h2 {
        color: $yellow;
      }
      p {
        color: $white;
      }
      .date {
        font-weight: 600;
      }
    }
    .employment-img {
      position: relative;
      top: -150px;
      right: -15px;
      width: 98%;

      img {
        box-shadow: -15px 15px 0 $yellow;
        display: block;
      }
    }
  }
}

.side-post {
  position: relative;
  top: 100px;
  width: 35%;

  .side-content {
    background-color: $almostBlack;
    position: relative;
    left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding: 370px 30px 30px 30px;

    h4 {
      color: $yellow;
      margin: 0;
      line-height: 20px;
    }
    p {
      color: $white;
    }
    ul {
      color: $white;
      list-style-type: disc;
      li {
        line-height: 1.5;
      }
    }
  }
}
.side-img {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
  width: 90%;
}

.right-wrapper {
  width: 60%;
}
.comments {
  margin: 0 60px;
  h3,
  p {
    color: $white;
  }

  img {
    display: block;
  }
  .comment-date {
    color: $yellow;
    font-weight: 600;
  }
}
