@import "partials/setup";
@import "partials/font-styles";
@import "partials/nav";
@import "partials/colors.scss";
@import "partials/forms";
@import "partials/mixins";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

img {
  max-width: 100%;
}

/* Font and Default Stylings */
.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
  // border: 2px solid salmon;
}

// Home Page styliing

/* Header Styling */
header {
  background-image: url(../images/home-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: $white;
  position: relative;
  ul {
    padding-top: 70px;
    display: inline-block;
    display: flex;
    li {
      padding-right: 30px;
      a {
        text-decoration: none;
        color: $white;
        &:hover {
          border-bottom: solid 3px $yellow;
          transition: 0.3s ease-out;
        }
      }
    }
  }
}

header {
  h1 {
    display: inline-block;
  }
  span {
    background-color: $white;
    color: $almostBlack;
    display: block;
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .header-img {
    position: absolute;
    width: 50%;
    right: 0;
    top: 190px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.mobile-nav,
input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

// Header Media Queries
@include mq-header-tablet {
  .header-img {
    right: 0;
  }
}

@include mq-big-phone {
  .header-img {
    visibility: hidden;
  }

  header {
    .desktop-nav {
      visibility: hidden;
      display: none;
    }
    .mobile-nav {
      visibility: visible;
      display: block;
      padding-top: 20px;
      position: relative;
      left: -20px;

      label {
        padding: 20px 0 0 20px;
      }

      .menu-toggle {
        position: absolute;
        left: -500px;
        transition: all 1s;
      }
      ul {
        background-color: $yellow;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 30vh;
        padding-top: 20px;
        padding-left: 20px;
        color: $almostBlack;
        li {
          padding-top: 20px;
          a {
            color: $almostBlack;

            &:hover {
              border-bottom: 2px solid $almostBlack;
            }
          }
        }
      }
      input:checked + .menu-toggle {
        left: 0;
      }
    }
  }
  h1 {
    text-align: center;
    width: 100%;
    margin-top: 100px;
  }
}

// Info Styling

.info {
  background-color: $pine;
  color: $white;
  padding-top: 210px;
  padding-bottom: 150px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .info-content {
    display: flex;
    width: 50%;
  }
  .info-section {
    padding: 20px;
    p {
      margin: 0 auto;
    }
  }
}

.icon-contain {
  height: 70px;
  width: 70px;
  background-color: $yellow;
  border-radius: 50px;
  text-align: center;
  flex-shrink: 0;
  i {
    padding-top: 15px;
    color: $pine;
  }
}

// Info Media Queries
@include mq-tablet {
  .info {
    padding-top: 50px;
    padding-bottom: 50px;
    .wrapper {
      flex-direction: column;
      .info-content {
        width: 100%;
        text-align: center;
        h2 {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@include mq-small-phone {
  .info-content {
    flex-direction: column;
    padding-top: 30px;
    .icon-contain {
      margin: 0 auto;
    }
  }
}

// Food styling
.food {
  background-color: $almostBlack;
  position: relative;
  color: $white;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  @include mq-tablet {
    padding-bottom: 50px;
  }
}

.wider-wrapper {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  @include mq-tablet {
    max-width: 1240px;
    width: 90%;
  }
}

// Burger section
.burger-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.burger-content {
  width: 50%;
  margin-right: 90px;
  padding-left: 90px;
}
.burger-img {
  position: relative;
  top: -80px;

  img {
    box-shadow: 15px 15px 0 $yellow;
    display: block;
  }
}

// Burger Media Queries
@include mq-tablet {
  .burger-box {
    flex-direction: column;
    padding-bottom: 50px;
    .burger-content {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .food-img {
      position: static;
      img {
        box-shadow: none;
        border: 10px solid $yellow;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}

// New Food section

.new-food-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.new-food-content {
  width: 50%;
  padding-left: 65px;
  margin-right: 160px;

  text-align: right;
}
.new-food-img {
  position: relative;
  bottom: -30px;

  img {
    box-shadow: -15px 15px 0 $yellow;
    display: block;
  }
}

@include mq-tablet {
  .new-food-box {
    flex-direction: column;
    justify-content: center;
    .new-food-content {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .new-food-img {
      position: static;
      img {
        box-shadow: none;
        border: 10px solid $yellow;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
//

// Winning styling

.winning {
  background-color: $pine;
  padding: 100px 0;
  text-align: center;

  h2 {
    color: $yellow;
  }
  p {
    color: $white;
  }
}

// Winning Media Query

@include mq-tablet {
  .winning {
    padding: 50px 0;
  }
}

.mid-banner {
  padding: 0;
  margin: 0;
  img {
    display: block;
  }
}

.mid-banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.nature {
  background-color: $pine;
  margin: 0 auto;
  padding: 50px 0;
  color: $white;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .nature-img {
      img {
        display: block;
        box-shadow: -10px 10px 0 $yellow;
      }
    }
    .nature-content {
      width: 70%;
      h3 {
        color: $yellow;
        // line-height: 0;
      }
    }
  }
}

// Nature Media Queries
@include mq-tablet {
  .nature {
    text-align: center;
    margin: 0 auto;
    .wrapper {
      flex-direction: column;
      .nature-content {
        width: 100%;
      }
      .nature-img {
        img {
          margin: 0 auto;
          box-shadow: none;
          border: 10px solid $yellow;
        }
      }
    }
  }
}

// Gallery styling

.gallery {
  background-color: $almostBlack;
  padding: 40px 0;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    list-style: none;
    li {
      margin-right: 35px;
      &:nth-child(3) {
        margin-right: 0;
      }
    }
    img {
      display: block;
    }
  }
}

// Gallery media query
@include mq-big-phone {
  .gallery {
    ul {
      flex-wrap: wrap;
      li {
        margin-right: 0;
        width: 45%;
        &:nth-child(3) {
          padding-top: 35px;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

// Footer styling
footer {
  color: $white;
  background-color: $black;
  padding: 10px 0;
  text-align: center;
  p {
    margin: 0;
  }
}

// Contact Page Styling

// Header styling
#contact header {
  background-image: url(../images/contact-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: $white;
  position: relative;

  h1 {
    padding-top: 50px;
  }
}

.contact-main {
  background-color: $pine;
  padding-top: 80px;
  position: relative;
  display: flex;
  .wrapper {
    display: flex;
  }
}

.contact-info {
  color: $white;
  width: 40%;
  margin-right: 60px;
  text-align: left;
  a {
    text-decoration: none;
    color: $white;
  }
  .contact-info-top {
    i {
      color: $yellow;
      padding: 20px 10px 0 0;
      transition: width 1s;
      &:hover{
        color: green;
      }
    }
  }
  .contact-info-bottom {
    padding-top: 5px;
    p {
    }
  }
}

// Contact Media Query

@include mq-tablet {
  .contact-main {
    .wrapper {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      .contact-info {
        width: 100%;
        text-align: center;
      }
    }
  }
}

// Blog Styling

#blog header {
  background-image: url(../images/blog-header.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: $white;

  h1 {
    padding-top: 50px;
  }
}

#blog main {
  background-color: $pine;
  padding-bottom: 60px;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .employment {
    box-shadow: inset 2px -2px 0px 0px $yellow;
    border-right: none;
    position: relative;
    display: flex;
    flex-direction: column;

    .employment-content {
      padding: 0 60px;
      padding-bottom: 60px;

      h2 {
        color: $yellow;
      }
      p {
        color: $white;
      }
      .date {
        font-weight: 600;
      }
    }
    .employment-img {
      position: relative;
      top: -150px;
      right: -15px;
      width: 98%;

      img {
        box-shadow: -15px 15px 0 $yellow;
        display: block;
      }
    }
  }
}

.side-post {
  position: relative;
  top: 100px;
  width: 35%;

  .side-content {
    background-color: $almostBlack;
    position: relative;
    left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding: 450px 30px 30px 30px;

    h4 {
      color: $yellow;
      margin: 0;
      line-height: 20px;
    }
    p {
      color: $white;
    }
    ul {
      color: $white;
      list-style-type: disc;
      padding-left: 20px;
      li {
        line-height: 1.5;
      }
    }
  }
}
.side-img {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
  width: 90%;
}

.right-wrapper {
  width: 60%;
}
.comments {
  margin: 0 60px;
  h3,
  p {
    color: $white;
  }

  img {
    display: block;
  }
  .comment-date {
    color: $yellow;
    font-weight: 600;
  }
}

@include mq-tablet {
  .blog-wrapper {
    flex-direction: column;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    .side-post {
      width: 100%;
      .side-content {
        left: auto;
        margin-top: 40px;
        width: 100%;
        h4{
          line-height: 50px;
        }
      }
      .wrapper {
        .side-img {
          left: auto;
          img {
            width: 100%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
    .right-wrapper {
      width: 100%;
      .employment {
        box-shadow: none;
        .employment-img {
          box-shadow: none;
          top: 100px;
          margin-top: 100px;
          margin-bottom: 200px;
          width: 100%;
          right: auto;
          img {
            box-shadow: none;
            border: 10px solid $yellow;
          }
        }
        .employment-content {
          width: 100%;
          padding: 0;
          h2,
          .date {
            text-align: center;
          }
        }
      }
    }
    .comments {
      width: 100%;
      margin: 0;
      .comments-content {
        .comment-two{
          padding-top: 40px;
        }
      }
    }
  }
}

@include mq-big-phone {
  .side-post {
    .side-content {
      padding: 350px 30px 200px 30px;
    }
  }
}
